body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.logo1 {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;

}
.logo2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;    
}
.nav,.contacts {
display: inline;
}

.top1 {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color: #212121; 
}
.top2 {
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color: #212121;    
}
.top3 {
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;    
    color: #212121;   
}
.top4 {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;     
    color: #757575;
        
}
.top5 {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color: #757575;    
}
.main {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
    
      
}
.slogan {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.button {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;    
    margin-top: 0px;
    left: 692px;
    top: 350px;
    width: 216px;
    height: 50px;
    color: #ffffff;  
    align-items: center;

    background-color: #2196f3;
    border-radius: 4px;
    border: 1px solid #2196f3;        
    
}
.benefits {
    visibility: hidden;
}
.features {
    display: inline;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;    
    color: #212121;  

}
.feature1 {
    position: absolute;
    width: 270px;
    height: 98px;
    left: 215px;
    top: 774px;
}
.feature2 {
    position: absolute;
    width: 270px;
    height: 74px;
    left: 515px;
    top: 774px;      
}
.feature3 {
    position: absolute;
    width: 270px;
    height: 74px;
    left: 815px;
    top: 774px;      
}
.feature4 {
    position: absolute;
    width: 270px;
    height: 98px;
    left: 1115px;
    top: 774px;        
}
.benefit {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #757575;    
}