body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.logo1 {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;

}
.logo2 {
    color: #000000;    
}

.logo3 {
    color: #ffffff;    
}
.nav,.contacts {
    float: left;
    list-style-type: none;
}

.top1 {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color: #212121; 
}
.top2 {
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color: #212121;    
}
.top3 {
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;    
    color: #212121;   
}
.top4 {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;     
    color: #757575;
        
}
.top5 {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color: #757575;    
}
.main {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
    
      
}
.slogan {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.button {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;    
    margin-top: 0px;
    left: 692px;
    top: 350px;
    width: 216px;
    height: 50px;
    color: #ffffff;  
    align-items: center;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    border-radius: 4px;
    border: 1px solid #2196f3;        
    
}
.benefits {
    visibility: hidden;
}
.features {
    display: inline;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;    
    color: #212121;  

}
.feature1 {
    position: absolute;
    width: 270px;
    height: 98px;
    left: 215px;
    top: 774px;
}
.feature2 {
    position: absolute;
    width: 270px;
    height: 74px;
    left: 515px;
    top: 774px;      
}
.feature3 {
    position: absolute;
    width: 270px;
    height: 74px;
    left: 815px;
    top: 774px;      
}
.feature4 {
    position: absolute;
    width: 270px;
    height: 98px;
    left: 1115px;
    top: 774px;        
}
.benefit {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: initial;
    color: #757575;    
}
.work {
    position: absolute;
    width: 400px;
    height: 42px;
    left: 617px;
    top: 966px;
    margin-top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;    
}
.work-type {
    float:left;
    margin: 0;
    padding:0;
    display:block;
    list-style-type: none;
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 966px;
}

.work1 {
    position:relative;
    width: 370px;
    height: 294px;
    left: 0px;
    top: 92px;
    float:left;
}
 
.work2 {
    position:relative;
    width: 370px;
    height: 294px;
    left: 30px;
    top: 92px;
    float:left;
}
.work3 {
    position:relative;
    width: 370px;
    height: 294px;
    left: 60px;
    top: 92px;
    float:left;   
}
.team {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1446px;
    background-color: #F5F4FA;       
}
.team-tytle {
    position: absolute;
    width: 280px;
    height: 42px;
    left: 668px;
    top: 94px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;    
}
.team-list {
    position: absolute;
    width: 1170px;
    height: 368px;
    left: 215px;
    top: 186px;
    float:left;
    list-style-type: none;
    padding: 0px;
    
}
.card1 {
    position: relative;
    width: 270px;
    height: 260px;
    left: 0px;
    top: 0px;
    margin: 0px;
    float:left;   
}
.card2 {
    position: relative;
    width: 270px;
    height: 260px;
    left: 30px;
    top: 0px;
    float:left;       
}
.card3 {
    position: relative;
    width: 270px;
    height: 260px;
    left: 60px;
    top: 0px;
    float:left;    
}
.card4 {
    position: relative;
    width: 270px;
    height: 260px;
    left: 90px;
    top: 0px;
    float:left;     
}
.name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
    
}
.position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
     color: #757575;    
}
.description {
    position: relative;
    height: 99px;
    text-align: center;
    padding-top: 10px;
    margin: 0px;
    top: -5px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    padding-top: 60px;
    background-color: #2F303A;
}
.address {
    
    list-style-type: none;


}
.map {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 110px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.mail {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 140px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    
}
.tel {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 170px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    
}